<ul class="nav nav-pills small navigation-tabs">
  <li class="nav-item">
    <%= active_link_to t('titles.questions.tabs.popular'), 
      questions_path, 
      class: 'nav-link main-tab',
      active: !params.keys.any? { |f| %w(newest answered unanswered).include?(f) }  %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('titles.questions.tabs.newest'), 
      questions_path(newest: true), 
      class: 'nav-link newest',
      active: { newest: true } %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('titles.questions.tabs.answered'), 
      questions_path(answered: true), 
      class: 'nav-link answered',
      active: { answered: true } %>
  </li>
  <li class="nav-item">
    <%= active_link_to t('titles.questions.tabs.unanswered'), 
      questions_path(unanswered: true), 
      class: 'nav-link unanswered',
      active: { unanswered: true } %>
  </li>
</ul>