<section class="collected-information">
  <h4 id="collected-information">1. WHAT INFORMATION DO WE COLLECT?</h4>

  <h5 class="my-3">Personal information you disclose to us</h5>

  <p class="fst-italic"><b>In Short:</b> 
    We collect personal information that you provide to us.
  </p>

  <p>
    We collect personal information that you voluntarily provide to us when you register 
    on the Website, express an interest in obtaining information about us or our products
    and Services, when you participate in activities on the Website (such as by posting
    answers in questions).
  </p>

  <p>
    The personal information that we collect depends on the context of your interactions
    with us and the Website, the choices you make and the products and features you use.
    The personal information we collect may include the following:
  </p>

  <h5>Personal Information Provided by You</h5>

  <p>
    We collect names; email addresses; usernames; passwords; contact preferences; 
    and other similar information.
  </p>

  <p>
    All personal information that you provide to us must be true, complete and accurate,
    and you must notify us of any changes to such personal information.
  </p>

</section>