<section class="information-use">
  <h4 id="information-use">2. HOW DO WE USE YOUR INFORMATION?</h4>
      
  <p class="fst-italic">
    <b>In Short:</b> 
    We process your information for purposes based on legitimate business interests, 
    the fulfillment of our contract with you, compliance with our legal obligations, 
    and/or your consent.
  </p>

  <p>
    We use personal information collected via our Website for a variety of business
    purposes described below. We process your personal information for these purposes
    in reliance on our legitimate business interests, in order to enter into or perform
    a contract with you, with your consent, and/or for compliance with our legal obligations. 
    We indicate the specific processing grounds we rely on next to each purpose listed below.
  </p>

  <p>
    We use the information we collect or receive:
  </p>

  <ul class="information-use">
    <li>
      <b>To facilitate account creation and logon process.</b> If you choose to link your account 
      with us to a third-party account (such as your Google or Facebook account), 
      we use the information you allowed us to collect from those third parties to facilitate
      account creation and logon process for the performance of the contract.
    </li>

    <li>
      <b>Request feedback.</b> We may use your information to request feedback and to contact you
      about your use of our Website.
    </li>

    <li>
      <b>To enable user-to-user communications.</b> We may use your information in order to enable
      user-to-user communications with each user's consent.
    </li>

    <li>
      <b>To manage user accounts.</b> We may use your information for the purposes of managing 
      our account and keeping it in working order.
    </li>

    <li>
      <b>To send administrative information to you.</b> We may use your personal information 
      to send you product, service and new feature information and/or information about
      changes to our terms, conditions, and policies.
    </li>

    <li>
      <b>To protect our Services.</b> We may use your information as part of our efforts to
      keep our Website safe and secure (for example, for fraud monitoring and prevention).
    </li>

    <li>
      <b>To enforce our terms, conditions and policies for business purposes, to comply
      with legal and regulatory requirements or in connection with our contract.</b>
    </li>

    <li>
      <b>To respond to legal requests and prevent harm.</b> If we receive a subpoena or other
      legal request, we may need to inspect the data we hold to determine how to respond.
    </li>
  </ul>
</section>