<section class="cookies">
  <h4 id="cookies">4. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h4>

  <p class="fst-italic">
    <b>In Short:</b>
    We may use cookies and other tracking technologies to collect and store your information.
  </p>

  <p>
    We may use cookies and similar tracking technologies (like web beacons and pixels)
    to access or store information about your session (when you are logged in) in the website.
  </p>
</section>