<section class="third-party-websites">
  <h4 id="third-party-websites">5. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?</h4>
      
  <p class="fst-italic">
    <b>In Short:</b>
    We are not responsible for the safety of any information that you share with third-party 
    providers who advertise, but are not affiliated with, our Website.
  </p>

  <p>
    The Website may contain advertisements from third parties that are not affiliated
    with us and which may link to other websites, online services or mobile applications.
    We cannot guarantee the safety and privacy of data you provide to any third parties.
    Any data collected by third parties is not covered by this privacy notice. 
    We are not responsible for the content or privacy and security practices and policies 
    of any third parties, including other websites, services or applications that may be
    linked to or from the Website. You should review the policies of such third parties
    and contact them directly to respond to your questions.
  </p>
</section>