<section class="privacy-rights">
  <h4 id="privacy-rights">8. WHAT ARE YOUR PRIVACY RIGHTS?</h4>

  <p class="fst-italic">
    <b>In Short:</b>
    You may review, change, or terminate your account at any time.
  </p>
  
  <p>
    If you are a resident in the EEA or UK and you believe we are unlawfully processing your
    personal information, you also have the right to complain to your local data protection
    supervisory authority. You can find their contact details here: 
    <%= link_to 'http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm' %>.
  </p>

  <p>
    If you are a resident in Switzerland, the contact details for the data protection authorities
    are available here: <%= link_to 'https://www.edoeb.admin.ch/edoeb/en/home.html' %>.
  </p>

  <p>
    If you have questions or comments about your privacy rights, you may email us at
    <%= mail_to 'questz.web@gmail.com' %>.
  </p>

  <h5>Account Information</h5>

  <p>
    If you would at any time like to review or change the information in your account or terminate
    your account, you can:
  </p>

  <ul>
    <li>
      Log in to your account settings and update your user account.
    </li>
  </ul>

  <p>
    Upon your request to terminate your account, we will deactivate or delete your account
    and information from our active databases. However, we may retain some information in our
    files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our
    Terms of Use and/or comply with applicable legal requirements.
  </p>

  <p>
    <span class="fw-bold text-decoration-underline">Cookies and similar technologies:</span>
    Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose
    to set your browser to remove cookies and to reject cookies. If you choose to remove cookies
    or reject cookies, this could affect certain features or services of our Website. To opt-out 
    of interest-based advertising by advertisers on our Website visit 
    <%= link_to 'http://www.aboutads.info/choices/' %>.
  </p>
</section>