<section class="notice-contact">
  <h4 id="notice-contact">10. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h4>

  <p>
    If you have questions or comments about this notice, you may email us at
    <%= mail_to 'questz-app@gmail.com' %>.
  </p>
</section>