.chosen-answer {
  background-color: rgba($primary, 0.1) !important;
  border-left: 4px solid $primary !important;
}

.list-group-item.answer {
  background-color: #f8f9fa;
}

.choose-answer {
  .fa-check {
    bottom: 3px;
  }
}

.answer-actions {
  margin-top: 0.7rem;
}

.form-group.trix_editor {
  margin-bottom: 0 !important;
}