$success:#198754;
$danger: #DC3545;
$orange: #FA8D34;

#main {
  background-color: #F6F5F8 !important;
}

.top-users {
  font-size: 0.9rem;
  color: #333;
}

.gold {
  color: #F1B600;
}

.silver {
  color: #9A9C9F;
}

.bronze {
  color: #AB825F;
}

@for $i from 6 through 10 {
  $base: 5;
  $size: $base * $i;
  .user-avatar-#{$size} { 
    width: $size + 0px;
    height: $size + 0px;
  }
}

.question-votes,
.answer-votes {
  font-size: 1.2rem;
  text-align: center;
  .vote-down > i, .vote-up > i {
    font-size: 2.5rem;
  }
  .vote-up > *, .vote-down > *, .vote-up, .vote-down {
    line-height: 1.2rem;
  }
}

[class*='user-avatar-'] {
  object-fit: cover;
}

.user-avatar-display {
  width: 120px;
  height: 120px;
}

.user-avatar-preview {
  width: 200px; 
  height: 200px; 
}

.question-actions > span,
.answer-actions > span {
  margin-right: 1rem;
}

[data-user-vote=upvote] .vote-up > *,
.vote-up:hover {
  color: $success !important;
}

[data-user-vote=downvote] .vote-down > *,
.vote-down:hover {
  color: $danger !important;
}

[hidden] {
  display: none !important;
}

.user-actions-menu {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15) !important;
  padding: 0;
  .dropdown-item {
    padding: 0.75rem 1rem;
    color: rgb(53, 53, 53);
    &:active {
      background-color: $orange;
      color: white;
    }
  }
  li:first-child > .dropdown-item {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  li:last-child > .dropdown-item {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}