#main {
  background-color: #F6F5F8 !important;
}

trix-toolbar {
  .trix-button.trix-active {
    background: rgba($primary, 0.4) !important;
  }

  .trix-button-group {
    border-bottom: none !important;
  }

  .trix-button {
    border: 1px solid #CED4DA;
  }
}

.trix-content {
  h1 {
    font-size: 1.4rem;
  }

  h1, pre {
    margin-bottom: 0.4em;
  }
  
  pre {
    padding: 0.6rem !important;
    margin-top: 0.4rem;
    border-radius: 3px;
  }

  .attachment--preview {
    margin: 0.6em 0;
  }
}

.top-users {
  font-size: 0.9rem;
  color: #333;
}

.gold {
  color: #F1B600;
}

.silver {
  color: #9A9C9F;
}

.bronze {
  color: #AB825F;
}

.question-votes,
.answer-votes {
  font-size: 1.2rem;
  text-align: center;
  .vote-down > i, .vote-up > i {
    font-size: 2.5rem;
  }
  .vote-up > *, .vote-down > *, .vote-up, .vote-down {
    line-height: 1.2rem;
  }
}

[class*='user-avatar-'] {
  object-fit: cover;
}

.user-avatar-display {
  width: 120px;
  height: 120px;
}

.user-avatar-preview {
  width: 200px; 
  height: 200px; 
}

.question-actions > span,
.answer-actions > span {
  margin-right: 1rem;
}

[data-user-vote=upvote] .vote-up > *,
.vote-up:hover {
  color: $success !important;
}

[data-user-vote=downvote] .vote-down > *,
.vote-down:hover {
  color: $danger !important;
}

[hidden] {
  display: none !important;
}

.user-actions-menu {
  .dropdown-item {
    padding: 0.75rem 1rem;
    color: rgb(53, 53, 53);
    &:active {
      background-color: $primary;
      color: white;
    }
  }
  li:first-child > .dropdown-item {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  li:last-child > .dropdown-item {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.exp-up {
  color: $success;
}

.exp-down {
  color: $danger;
}

.reputation-up th[scope="row"] {
  @extend .exp-up;
}

.reputation-down th[scope="row"] {
  @extend .exp-down;
}