$success: #198754;
$danger: #dc3545;

#main {
  background-color: #F6F5F8 !important;
}

.user-avatar {
  width: 45px;
  height: 45px;
}

.user-comment { 
  width: 35px;
  height: 35px;
}

.user-avatar-preview {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
}

.answer-divider {
  margin-top: 0.6rem !important; 
  margin-bottom: 0.6rem !important;
}

.question-votes .vote-count, 
.answer-votes .vote-count { 
  margin-right: 0.5rem;
}

.unlike + .vote-count,
.like:hover {
  color: $success !important;
}

.undislike + .vote-count,
.dislike:hover {
  color: $danger !important;
}

[hidden] {
  display: none !important;
}