$orange: #FA8D34;

.user-profile-container {
  background-color: rgba(#292F3B, 0.9);
}

.user-stats h5, .user-stats p{
  margin-bottom: 0;
}

@media(max-width: 576px) {
  .stats-col {
    flex: 1 0 50% !important;
  }
}

.progress.xp {
  height: 12px;
}