$orange: #FA8D34;

.user-profile-container {
  background-color: rgba(#292F3B, 0.9);
}

.user-stats h5, .user-stats p{
  margin-bottom: 0;
}

.experience-bar > div {
  flex: 1;
  height: 8px;
  background: #E9ECEF;
  position: relative;
}

.experience-bar > div > div {
  height: 8px;
}

span.current-experience {
  top: 12px;
  transform: translateX(-50%);
}