$orange: #FA8D34;

.question-title {
  font-size: 1.1rem;
  font-weight: 500 !important;
}

.question-body {
  font-size: 1.05rem;
}

.question-title-show {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}

.question-reports {
  font-size: 1.2rem;
}

.question-stats > div:not(:last-of-type) {
  margin-right: 1.25rem;
}

.question-reports > .votes-up-on-question {
  margin: 0 1.3rem;
}

.navigation-tabs {
  .nav-link.active {
    background-color: $orange;
  }
}