.question-tag {
  background-color: rgba($primary, 0.15) !important;
  border: 1px solid transparent;
  color: $primary;
  font-size: 0.9rem;

  &:hover {
    background-color: darken($color: rgba($primary, 0.15), $amount: 15%) !important;
  }
}

$sizes: ('xs', 'sm', 'md', 'lg');

@for $i from 0 to length($sizes) {
  $base: 0.5rem;
  $total-size: 0.2rem * $i;

  .tag-#{nth($sizes, $i + 1)} {
    font-size: $base + $total-size;
  }
}