@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$orange: #FA8D34;
$danger: #DC3545;

body {
  font-family: 'Roboto', sans-serif !important;
}

a {
  text-decoration: none;
  color: $orange;

  &:hover {
    color: darken($orange, 5);
  }
}

abbr[title], abbr[data-original-title] {
  text-decoration: none !important;
}

.bg-dark-blue {
  background-color: #292F3B !important;
}

h2.logo-font, h4.logo-font {
  font-family: 'Bitter', sans-serif;

  span {
    color: #404040 !important;
  }
}

#logo {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.text-white-75 {
  color: rgba(#fff, 0.75);
}

.form-group-invalid trix-editor {
  border-color: $danger !important;
}

.form-group-invalid.trix_editor .invalid-feedback {
  display: block;
}