$orange: #FA8D34;
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');

// #FA633f

a {
  text-decoration: none;
  color: $orange;

  &:hover {
    color: darken($orange, 5);
  }
}

abbr[title], abbr[data-original-title] {
  text-decoration: none !important;
}

.bg-dark-blue {
  background-color: #292F3B !important;
}

h2.logo-font, h4.logo-font {
  font-family: 'Bitter', sans-serif;

  span {
    color: #404040 !important;
  }
}

#logo {
  width: 36px;
  height: 36px;
  cursor: pointer;
}