<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <i class="fas fa-newspaper"></i>&nbsp; Feed
  </a>
  <a href="#" class="list-group-item list-group-item-action">SOLO</a>
  <a href="#" class="list-group-item list-group-item-action">How You Like That</a>
  <a href="#" class="list-group-item list-group-item-action">Ice Cream (with Selena Gomez)</a>
  <a href="#" class="list-group-item list-group-item-action">Sour Candy (with Lady Gaga)</a>
  <a href="#" class="list-group-item list-group-item-action">Hope Not</a>
  <a href="#" class="list-group-item list-group-item-action">Playing With Fire</a>
  <a href="#" class="list-group-item list-group-item-action">Kiss and Make Up (with Dua Lipa)</a>
  <a href="#" class="list-group-item list-group-item-action">So Hot</a>
  <a href="#" class="list-group-item list-group-item-action">Forever Young</a>
  <a href="#" class="list-group-item list-group-item-action">Whistle</a>
</div>