<div class="row mt-5">
  <div class="col-md-2">
    <%= render 'followed_tags' %>
    <div class="custom-actions text-center">
    <%= link_to tags_path, class: 'btn btn-outline-orange mt-2' do %>
      <small class="fw-bold text-uppercase">+ tags</small>
    <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <%= render @questions %>
  </div>
</div>

