
<% title 'Code of Conduct' %>

<div class="row align-items-center vh-100">
  <div class="col-lg-6 col-md-12">
    <%= image_tag 'conduct.png', class: 'img-fluid' %>
  </div>
  <div class="col-lg-6 col-md-12">
    <h1 class="text-primary">Code of Conduct</h1>
    <h5>This Code of Conduct helps us build a community 
    that is rooted in kindness, collaboration, and mutual respect.</h5>
    <p class="text-secondary">
      Whether you’ve come to ask questions or to generously share what you know, 
      join us in building a community where all people feel welcome and can participate, 
      regardless of expertise or identity.
    </p>

    <p class="text-secondary">
      We commit to enforcing and improving the Code of Conduct. It applies to everyone using 
      Questz, including our team and moderators.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card p-4">
      <div class="card-body">
        <h4 class="mb-4 text-primary">Our expectations</h4>
        <div class="row g-4 gx-5">
          <div class="col-md-6">
            <b>If you’re here to get help, make it as easy as possible for others to help you.</b>
            <p>Remember that our community is made possible by volunteers.</p>
          </div>
          <div class="col-md-6">
            <b>Be clear and constructive when giving feedback, and be open when receiving it.</b>
            <p>Edits, comments, and suggestions are healthy parts of our community.</p>
          </div>
          <div class="col-md-6">
            <b>If you’re here to help others, be patient and welcoming.</b>
            <p>Learning how to participate in our community can be hard. 
              Offer support if you see someone struggling or otherwise in need of help.
            </p>
          </div>
          <div class="col-md-6">
            <b>Be inclusive and respectful.</b>
            <p>Avoid sarcasm and be careful with jokes. If a situation makes it hard to
            be friendly, stop participating and move on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-md-12">
    <div class="card p-4">
      <div class="card-body">
        <h4 class="mb-4 text-primary">Unacceptable Behavior</h4>
        <div class="row g-2">
          <div class="col-lg-12">
            <b>No subtle put-downs or unfriendly language.</b>
            <p>Even if you don’t intend it, this can have a negative impact on others.</p>
          </div>
          <div class="col-lg-12">
            <b>No name-calling or personal attacks.</b>
            <p>Focus on the content, not the person. This includes terms that feel personal 
            even when they're applied to content (e.g. “lazy”).</p>
          </div>
          <div class="col-lg-12">
            <b>No bigotry.</b>
            <p>We don’t tolerate any language likely to offend or alienate people based on
              race, gender, sexual orientation, or religion — and those are just a few examples. 
              Use stated pronouns (when known). When in doubt, don't use language that might 
              offend or alienate.
            </p>
          </div>
          <div class="col-lg-12">
            <b>No harassment.</b>
            <p class="mb-0">This includes, but isn’t limited to: bullying, intimidation, vulgar language,
              direct or indirect threats, sexually suggestive remarks, patterns of inappropriate 
              social contact, and sustained disruptions of discussion.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="small text-center">
  © <%= link_to 'Stack Overflow', 'https://stackoverflow.com/conduct', target: '_blank' %>
</p>