<div class="card h-100">
  <div class="card-header bg-white py-3">
    <h6 class="mb-0">
      <i class="fas fa-fire me-2"></i> Popular tags
    </h6>
  </div>
  <div class="card-body">
    <% if @popular_tags.any? %>
      <% tag_cloud(@popular_tags, %w(tag-xs tag-sm tag-md tag-lg)) do |tag, css_class| %>
        <span class="badge question-tag mb-1">
          <%= link_to tag.name, tag_path(tag), class: css_class %>
        </span>
      <% end %>
    <% else %>
      <p class="mb-0">
        No tags to display just yet.
      </p>
    <% end %>
  </div>
</div>