<div class="card">
  <div class="card-header bg-white">
    <h6 class="card-title my-2"><%= t('app_titles.cards.related_questions') %></h6>
  </div>
  <% if @related_questions.any? %>
    <ul class="list-group list-group-flush">
      <%= render partial: 'related_questions', collection: @related_questions, as: :question %>
    </ul>
  <% else %>
    <div class="card-body">
      <p class="mb-1"><%= t('messages.views.no_questions_yet') %></p>
      <%= link_to t('buttons.questions.new_question'), new_question_path, class: 'fw-bold' %>
    </div>
  <% end %>
</div>