<div class="card">
  <div class="card-header py-3 bg-white">
    <h6 class="card-title mb-0">
      <i class="fas fa-trophy small"></i>&nbsp;
      <% if local_assigns[:tag_only] %>
        <%= t('app_titles.cards.top_answerers_in_tag') %>
      <% else %>
        <%= t('app_titles.cards.top_users') %>
      <% end %>
    </h6>
  </div>
  <% if @top_users.any? %>
    <ul class="list-group list-group-flush bg-light top-users">
      <%= render @top_users, local_assigns %>
    </ul>
  <% else %>
    <div class="card-body">
      <p class="mb-0"><%= t('messages.views.no_users_to_display') %></p>
    </div>
  <% end %>
</div>