<div class="card border-top-primary">
  <div class="card-header bg-white">
    <h6 class="mb-0 py-2">
      <i class="fas fa-filter me-2"></i>
      Answers
    </h6>
  </div>
  <div class="card-body">
    Answer reports
  </div>
</div>