<li class="list-group-item py-3 d-flex">
	<div class="flex-shrink-0">
		<span class="badge circular-badge orange-150 text-orange">
			<i class="fas fa-arrow-down"></i>
		</span>
	</div>
	<div class="flex-grow-1 my-auto ms-2">
		downgraded to level <%= activity.trackable.level %>
		&nbsp;·&nbsp; 
		<span class="text-muted">
			<%= time_ago_in_words(activity.created_at) %> ago
		</span>
	</div>
</li>
