@import './application';
@import './shared/custom_bootstrap';
@import './shared/overall';
@import 'select2/dist/css/select2.min.css';
@import '@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4.scss';
@import './shared/select2-custom';

.logo-link {
  padding: 0.95rem;
  border-bottom: 1px solid rgba(#FFF, 0.2);
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
}

.border-top-primary {
  border-top: 3px solid $primary;
}

.action-buttons a {
  i {
    margin-right: 0;
  }
}