.navbar-expand-sm .navbar-nav .nav-link {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: #FA633F !important;
}