<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/head' %>

  <body id="main"> 
    <%= render 'layouts/shared/navbar' %>
    <div class="container-fluid px-5">
      <%= yield %>
    </div>
  </body>
  <%= custom_flash_messages %>
</html>
